@use '_Variables.module.scss' as *;
@use '_Mixins.module.scss' as *;
@use '_Gradients.module.scss' as *;

.container{
    width: 20rem;
    @include radius5;
    @include flexColumn;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
    color: $font-clr1;
    outline: 1px solid currentColor;
    .title{
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

//===============================current
.current{
    width: 20rem;
    height: 10rem;

    .time{text-align: center}
 
    .content{
        @include gridCenter;
        grid-template-columns: 1fr 8rem;
        .icon{
            @include gridCenter;
            height: 10rem;
            width: 100%;
            
        }
        .temp{
            @include gridCenter;
            font-size: 2.2rem;
            translate: -1rem 0;
        }
    }
}


//================================hourly
.hourlyContainer{
    @include result1;
}
.hourly{
    @include result2;
}
.timeHourly{
    @include result3;
    .code{
        width: 5rem;
    }
}

//=================================daily
.dailyContainer{
    @include result1;
}
.daily{
    @include result2;
}
.timeDaily{
    @include result3;
    .test{
        width: 9rem;
    }
    .code{
        width: 9rem;
        text-align: center;
    }
    .temp{
        width: 9rem;
        text-align: center;
    }
}

.minTemp{
    span{
        @include result2;
        color: rgb(28, 226, 28);
    }
}
.maxTemp{
    span{
        @include result2;
        color: rgb(253, 55, 55);
    }
}

.sunrise{
    // text-align: center;
    // background-color: $clr3;
    // @include flexRow;
    // margin-inline-end: .5rem;
    // .test{
    //     width: 5rem;
    // }
    @include result3;
    .test{
        width: 9rem;
    }
}