* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

/* =========================Link========================= */
a{
  text-decoration: none;
  color: yellow;
}
a:visited{
  color: yellowgreen;
}

/* =========================Input========================= */
input, button{
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  width: 80%;
  padding-inline-start: .2rem;
  padding-block: .5rem;
}
input::placeholder{
  font-size: .8rem;
}

/* =========================Scrollbar========================= */
::-webkit-scrollbar{
  height: .5rem;
}

::-webkit-scrollbar-track{
  background-color: rgb(18, 41, 86);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(17, 34, 69);
}